main {
  flex-grow: 1;
}

#prompt-container {
  padding: 3rem 0 1rem 0;
} 

#response-container {
  padding: 3rem 0 1rem 0;
}

.response-list {
  display: flex;
  flex-direction: column-reverse;
  animation: FadeIn 3s;
}

.response-list > :last-child {
  animation: FadeIn 3s;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}